target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

.gradle/
build/

.idea/
*.iml
*.ipr
*.iws
.vscode/
*.swp

.DS_Store
Thumbs.db

*.log

*.class

*.env
application.properties
application.yml

node_modules/
dist/

classpath.txt