.about-image-container {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    background: black;
}

.about-image-wrapper {
    width: 270%;
    max-width: none;
    transform: translateX(-31.48%);
    /* Centers the middle portion of the image (shifts left by 85% of container to show middle 100% of 270% image) */
}

@media (min-width: 768px) {
    .about-image-wrapper {
        width: 100%;
        transform: translateX(0);
    }
}

.about-image {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
